<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(StockLayout)" />
        @*<RouteView RouteData="@routeData" DefaultLayout="@typeof(StockLayout)" />*@
    </Found>
    <NotFound>
        <CascadingAuthenticationState>
            <LayoutView Layout="@typeof(StockLayout)">
                <p>Sorry, there's nothing at this address.</p>
            </LayoutView>
        </CascadingAuthenticationState>
        @*<LayoutView Layout="@typeof(StockLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>*@
    </NotFound>
</Router>
