@inherits LayoutComponentBase

@using DataService.Models
@inject IDataLayer DataLayer
@inject IJSRuntime Js

@if (stocks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="column" style="width:20%;position:relative;left:30px;">
            <select id="selectStockList" style="width:250px;text-align-last:center" @onchange="@(async (arg) => await OnSelectStockChangeAsync(arg))">
                <option value="0">----全部----</option>
                <option value="1">財報選股</option>
                <option value="2">型態選股</option>
                <option value="3">頁面選股</option>
                <option value="4">CMoney選股</option>
                <option value="5">財報狗選股</option>
                <option value="6">網龍大富翁分析</option>
            </select>

            <select id="stockList" size="30" style="width:250px" onchange="onStockChangeAsync(this)">
                @foreach (var stock in stocks)
                {
                    <option value="@stock.StockId">@stock.StockId - @stock.Name (@stock.Industry)</option>
                }
            </select>
            <div class="column">
                <div>
                    <div>
                        <input type="button" value="個股速覽" onclick="onUrlChangeAsync(1)" /><br />
                    </div>
                    <div>
                        <input type="button" value="主力進出明細" onclick="onUrlChangeAsync(2)" /><br />
                    </div>
                    <div>
                        <input type="button" value="融資融券" onclick="onUrlChangeAsync(3)" /><br />
                    </div>
                    <div>
                        <input type="button" value="CMoney" onclick="onUrlChangeAsync(4)" /><br />
                    </div>
                    <div>
                        <input type="button" value="Fugle" onclick="onUrlChangeAsync(5)" /><br />
                    </div>
                    <div>
                        <input type="button" value="財報狗" onclick="onUrlChangeAsync(6)" /><br />
                    </div>
                    <div>
                        <input type="button" value="104" onclick="goTo104Page()" /><br />
                    </div>
                </div>
                <div style="position:relative;left:5px;">
                    <div>
                        <input id="number" type="number" min="1" max="10" size="1" value="4">秒<br />
                        <input id="autoPlay" type="button" value="自動瀏覽股票" onclick="window.autoStockStart()" /><br />
                    </div>
                    <br />
                    <div>
                        <input id="stockFinder" type="search" onkeydown="onFindStockId(this)" placeholder="輸入stockId找股票" />
                        <input id="btnSelectStock" type="button" value="選股" onclick="selectStock()" /><br />
                    </div>
                </div>
            </div>
        </div>
        <div class="column" style="width:80%">
            <iframe id="StockPage" scrolling="auto" width="1500" height="1000" frameborder="0" />
        </div>
    </div>
}
@code{
    Stocks[] stocks;
}
@functions{

    protected override async Task OnInitializedAsync()
    {
        stocks = await DataLayer.GetBestStocksAsync(0);
    }

    async Task OnSelectStockChangeAsync(ChangeEventArgs arg)
    {
        var index = Convert.ToInt32(arg.Value);
        stocks = await DataLayer.GetBestStocksAsync(index);
        await Js.InvokeAsync<object>("onSetCurrentIndex");
    }
}